 /*-------------*/
.wrap-navs{
    position: relative;   
    z-index: 999;
}
.nav-img{
    display: block;
    width: 32px;
    margin:0 auto;
}
.wrap-navs .nav-item{
    width: 200px;
}
.wrap-navs .nav-item a:hover{
    color: #fff;
}
.wrap-navs .nav-item a{
    color:#fff;
    height: 100%;
    border-radius: 10px 10px 0px 0px!important;
}
.wrap-navs .nav-pills{
    background:#243C93;
    border-radius: 10px 10px 0px 0px;
}
.nav-pills .nav-link.active{
    background: #F7971E;
}

.wrap-form input:focus,
.wrap-form select:focus{
    outline: none;
}
.wrap-form{
    padding:20px;
    background:#fff;
    border-radius: 0px 0px 10px 10px;
}
.address{
    width: 100%;
    border: 1px solid #BEBEBE;
    padding: 14px 10px;
    padding-left: 50px;
    font-size: 16px;
}
.l-address{
    width: 100%;
    position: relative;
    z-index: 99;
}
.l-address img{
    position: absolute;
    width: 24px;
    left: 10px;
    top: 14px;
}
.l-address::after{
    content: '';
    width: 1px;
    background:#bebebe;
    height: 60%;
    position: absolute;
    left: 40px;
    top: 20%;
    z-index: 99;
}
.l-address select{
    padding-top: 17px;
    padding-bottom: 17px;
}
.wrap-form .btn-submit{
    color: #fff;
    background: #F7971E;
    display: block;
    width: 100%;
    text-align:center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.wrap-form .btn-submit:hover{
    text-decoration:none;
}
.l-date{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    color: red;
}
.in-date{
    position: absolute;
    z-index: 999;
    left: 0;
    
}
.in-date::-webkit-calendar-picker-indicator{ 
    background-image: url('../../image/calendar.png');
    background-size:20px 20px;
    background-position:5px center;
}
.in-date::-webkit-calendar-picker-indicator { 
    background-color:none;
    height: 48px;
    border: 1px solid #bebebe;
width: 100%;
display: block;
position: relative;
left: -10px;
z-index: 99;
}
input[type=date]{
  display: block;
  background: none;
  border:none;
  width: 100%;
}
.in-date::-webkit-datetime-edit-text {
    width: 0;
}
.out-date{
    position: absolute;
    top: 0;
    left: 15px;
    background: #fff;
    padding-top: 17px;
    width: 91%;
    height: 54px;
    z-index: 99;
}
.out-date::before{
    content: '';
    position: absolute;
    top: 20%;
    left:40px;
    height: 60%;
    width: 1px;
    background: #bebebe;
}
.out-date-fix{
    left: 10px;
}
.in-date2{
    position: absolute;
    right: 5px;
    z-index: 999;
}
.in-date2::-webkit-calendar-picker-indicator{ 
    background-image: url('../../image/calendar-2.png');
    background-size:20px 20px;
    width: 0%;
    background-position:5px center;
}
.in-date2::-webkit-calendar-picker-indicator { 
    background-color:none;
    height: 48px;
    border: 1px solid #bebebe;
width: 100%;
display: block;
position: relative;
left: -10px;
z-index: 99;
}
@media only screen and (max-width:991px){
    .out-date::before{
        content: '';
        background: #fff;
    
    }
    .in-date::-webkit-calendar-picker-indicator,
    .in-date2::-webkit-calendar-picker-indicator{
        border: none;
        left: -25px;
    }
    .gap-sm-fix{
        display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 20px!important;
    }
}
.tab-content{
    margin-top: -16px;
}
.wrap-navs>div{
    box-shadow: 0px 0px 10px 1px #bebebe;
    border-radius: 10px;
}

.wrap-form .checkbox{
    background: #C7D7F9;
    padding: 15px 10px;
    position: relative;
}
.wrap-form .checkbox label{
    margin-bottom: 0;
    width: 100%;
}

.menu-wrap .sm-title{
    left:10px;
}
.wrap-form .bg-history{
    background: #f9f9f9;
}
.wrap-form select+img{
    width: 15px;
    transform: translateY(20%);
}
.bg-history{
    padding: 14px;
    position: relative;
}
.toggle-history{
    display: none;
    position: relative!important;
    top: 0;
}
.bg-history img{
    display: inline-block;
    height: 15px;
    margin-right: 10px;
}
.bg-history button{
    display: block;
    text-align: left;
    border: none;
    width: 100%;
    position: relative;
    background: none;
}
.bg-history .icon{
    position: absolute;
    display: inline-block;
    right: 10px;
    font-size: 20px;
    transform: rotate(45deg)!important;
    transition: all 0.4s;
}
.bg-history :focus-within .icon{
    transform: rotate(270deg)!important;
}
.bg-history :focus-within+ .toggle-history{
    display: block;
}
.toggle-history ul {
    list-style: none;
    display: block;
    padding-left: 30px;
    margin-bottom: 0;
}
.my-toggle{
    opacity: 1;
    -webkit-animation: animateToggle 0.7s;
            animation: animateToggle 0.7s;
}
@-webkit-keyframes animateToggle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes animateToggle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*--------------------------------------*/



.room-option .my-btn{
    display: block;
    width: 100%;
    border: 1px solid #BEBEBE;
    border-radius: 0;
    padding: 13px 10px;
    position: relative;
    background: #fff;
}
.room-option .my-btn:focus{
    outline: none;
    box-shadow: none;
}
.room-option .img-wrap{
    width: 20px;
    display: inline-block;
    height: 100%;
}
.room-option .img-wrap img{
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.room-option .img-wrap::before {
    content: '';
    height: 60%;
    width: 1px;
    position: absolute;
    top: 20%;
    left: 40px;
    background: #bebebe;
}
.result-select{
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: -8px;
}
.result-select small{
    position: absolute;
    bottom: -15px;
    left: 0;
}
.dropdown-toggle::after{
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


.wrap-form-opt-room>ul{
    display: block;
    margin-top:10px ;
}
.wrap-form-opt-room>ul>li,
.wrap-form-opt-room ul ul>li:first-child>div{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bebebe;
}
.opt-label{
    transition:all 0.4s;
    padding:0;
    margin:0;
    width: 100%;
    cursor: pointer;
}
.opt-label small{
    float: right;
}
.opt-label span{
    cursor: pointer;    
}
.opt-label:hover span{
    color: #5392F9;
}
.hov-color:hover{
    color: #5392F9;
}
.opt-menu>i{
    position: absolute;
    right: 10px;
}
.my-dropdown-menu{
    width: 80%;
    padding: 0px 10px;
    z-index: 99;
    background: #fff;
    position: absolute;
    top: 60px;
    box-shadow: 0px 0px 10px 1px #bebebe;
}

.opt-menu .opt-menu-wrap{
    display: none;
    position: absolute;
    left: 96%;
    top: 0;
    z-index: 0;
    -webkit-animation: toRight 0.4s;
            animation: toRight 0.4s;
}
.opt-menu-wrap .content{
    padding-right: 30px;
    position: relative;
}
.opt-menu-wrap .content i{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
}
.opt-menu-wrap .special{
    border: 1px solid #5392F9;
    padding: 5px;
}
.opt-menu-wrap .special i{
    font-size: 20px;
    margin-right: 5px;
}
.opt-menu-wrap .special span{
    color: #838383;
}
.opt-menu-wrap .special .new{
    float: right;
    background: #E12D2D;
    color: #fff;
    padding: 1px 3px;
    border-radius: 3px;
}
.opt-menu-wrap .special .link{
    border: 1px solid #5392F9;
    color: #5392F9;
    padding: 5px 10px;
}
.check2 input{
    display: inline-block;
    margin-right: 5px;
}
.check2{
    position: absolute;
    bottom: 0;
}
@-webkit-keyframes toRight{
    from{
        left: 85%;
    }
    to{
        left: 96%;
    }
}
@keyframes toRight{
    from{
        left: 85%;
    }
    to{
        left: 96%;
    }
}
.opt-menu:hover .opt-menu-wrap{
    display: block;
}
.opt-menu-wrap{
    padding-left: 20px;
}
.opt-menu-wrap ul{
    display: block;
    width: 235px;
    background: #fff;
    min-height: 200px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #bebebe;
}

/*-----------*/
.setup-select-room > div, 
.setup-select-user > div,
.setup-select-child > div{
    display: inline-block;
}
.my-dropdown-menu .up,
.my-dropdown-menu .down{
    padding: 5px;
    padding-bottom: 10px;
}
.my-dropdown-menu .up{
    position: absolute;
    right: 10px;
    font-size: 30px;
    line-height: 15px;
    color: #5392F9;
}
.my-dropdown-menu .down{
    position: absolute;
    left: 30px;
    font-size: 40px;
    line-height: 20px;
    color: #5392F9;
}
.num-result{
    color:#5392F9!important;
}
.num-result + span{
    color: #838383!important;
}
.bg-outside{
    width: 100%;
    height: 200vh;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: -500px;
    left: 0;
    z-index: 0;
}
@media only screen and (max-width:991px){
    .out-date{
        color: red;
        border: 1px solid red;
        
    }
    input[type=date]{
        opacity: 0;
    }

    #date::-webkit-datetime-edit-text { color:#fff!important;}
   ::-webkit-datetime-edit-text { color:#fff!important;}
::-webkit-datetime-edit-month-field { color:#fff!important; }
::-webkit-datetime-edit-day-field { color: #fff!important; }
::-webkit-datetime-edit-year-field { color:#fff!important; }
    .in-date::-webkit-calendar-picker-indicator{
        background: green;
    }
    .in-date{
        height: 100px;
        border: 1px solid blue!important;
    }
    
    /*--------------------*/
    .result-mobile{
        width: 100%;
        margin: 0;
        margin-top: 7px;
    }
    .opt-menu-wrap-mobile ul{
        min-height: 0!important;
        width: 100vw;
        margin: 0;
    }
    .opt-menu-wrap-mobile{
        -webkit-animation: none;
                animation: none;
    }
    .opt-menu-wrap-mobile ul{
        display:block;
        right: 0;
        -webkit-animation: toLeft 0.7s;
                animation: toLeft 0.7s;
    }
    @-webkit-keyframes toLeft{
        from{
            width: 50vw;
        }
        to{
            width: 100vw;
        }
    }
    @keyframes toLeft{
        from{
            width: 50vw;
        }
        to{
            width: 100vw;
        }
    }
    .opt-menu-wrap-mobile{
        padding:0;
        position: relative;
    }
    .opt-menu-wrap-mobile .up{
        position: absolute;
        right:20px;
        padding-left: 12px;
        padding-right: 12px;
        cursor: pointer;
        border: 1px solid #5392F9;
        border-radius: 50%;
        color: #5392F9;
    }
    .opt-menu-wrap-mobile .down{
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        right: 80px;
        cursor: pointer;
        color: #5392F9;
        border-radius: 50%;
        border: 1px solid #5392F9;
    }
    /*--------------------*/
    .menu-full-screen1{
        height: 100vh;
        width: 100vw;
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
    }
}
